body {
    padding-top: 45px;
}

.title,
.defaultText {
    color: white;
}

.comment-area {
    color: white !important;
}

.postedbtn {
    background-color: #5ad1e6 !important;
}

.profile-link a:link {
    color: turquoise;
}

.profile-link a:visited {
    color: darkcyan;
}

.profile-link a:hover {
    color: turquoise;
}