body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: darkslategrey !important;
    color: whitesmoke;
    padding: .5rem;
}

.page-footer a {
    color: white;
}

.page-footer a:hover {
    text-decoration: underline !important;
    color: grey;
}

.page-footer a:visited {
    color: whitesmoke;
}