body {
    display: flex;
    min-height: 125vh;
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: darkslategrey !important;
    padding: .5rem;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 1;
    margin-top: 20px;
}

.page-footer a:link {
    color: whitesmoke;
}

.page-footer a:hover {
    color: grey !important;
}

.page-footer a:visited {
    color: whitesmoke;
}