body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    border-style: solid none none none;
    border-width: .5%;
    border-color: darkslategrey;
}