.shred {
    padding: 20px;
    margin: 20px;  
}
.votes {
    margin-top: 15px;
}
.username {
    margin-bottom: 20px;
}
.arrow {
    font-size: 40px;
}
.arrow:hover {
    cursor: pointer;
}
.votesNumber {
    font-size: 30px;
}