body {
    font-family: 'Roboto Slab', serif;
}

.shred {
    padding: 20px;
    margin: 20px;  
    background-color: white;
}
.votes {
    margin-top: 15px;
}
.username {
    margin-bottom: 20px;
}
.arrow {
    font-size: 40px;
}
.arrow:hover {
    cursor: pointer;
}
.votesNumber {
    font-size: 30px;
}

.shred a:link {
    color: turquoise;
    font-family: 'Roboto Slab', serif;
}

.shred a:hover {
    color: darkslategray;
    font-family: 'Roboto Slab', serif;
}

.shred a:visited {
    color: darkcyan;
    font-family: 'Roboto Slab', serif;
}

.title-font {
    font-family: 'Roboto Slab', serif;
}

.links {
    font-family: 'Roboto Slab', serif;
}