body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.site-banner img {
    flex: 0 0 auto;
    max-height: 24rem;
    width: 100%;
    border-style: none none solid none;
    border-color: rgba(64, 224, 208, 0.199);
    border-width: .5rem;
    filter: hue-rotate(345deg);
}