body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navbar-fixed {
    background-color: darkslategrey;
    padding: 0 .5rem;
}

.brand-logo {
    font-family: 'Roboto Slab', serif;
}

.links {
    font-family: 'Roboto Slab', serif;
}